/* Reset default browser settings */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  /* General configuration */
  scroll-behavior: smooth;

  /* Variables */
  --container-width: 1200px;
  --body-bg-color: rgb(255, 255, 255);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 40px;
}

/* Default body configuration */
body {
  background-color: var(--body-bg-color);
}

/* Limit image size */
img {
  display: block;
  max-width: 100%;
}
