<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fashion store</title>
    <!-- <link rel="shortcut icon" href="#" type="image/x-icon" /> -->
    <link rel="stylesheet" href="css/index.css" />

    <!-- Scripts -->
    <script src="./js/htmx.min.js"></script>
  </head>
  <body>
    <header
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.header-hero.partial.html"
    ></header>

    <main>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.featured.partial.html"
      ></section>
    </main>

    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>

  <!-- JS Modules -->
  <!-- <script type="module" src="js/index.js"></script> -->
</html>
