.hero {
  position: relative;

  .hero-socials {
    display: none;
  }

  .hero-slider {
    position: relative;
    /* max-width: var(--container-width); */
    background-color: rgb(200, 205, 209);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .hero-slider__slide {
      height: auto;
      max-width: 100%;
    }

    .hero-slider__controls,
    .hero-slider__actions,
    .hero-slider__text-secondary,
    .monthly-desktop {
      display: none;
    }

    .hero-slider__body {
      .hero-slider__title {
        text-align: left;
        text-transform: uppercase;
        font-family: var(--font-main);
        font-size: var(--font-size-title-mobile);
        padding-bottom: 1rem;
      }

      .hero-slider__meta-index {
        text-align: left;

        font-family: var(--font-main);
        font-size: var(--font-size-subtitle-mobile);
        font-weight: 600;
      }

      .hero-slider__meta-label {
        text-align: left;
        text-transform: uppercase;
        font-family: var(--font-main);
        font-size: var(--font-size-text-mobile);
        font-weight: 400;
      }

      .hero-slider__text-primary {
        text-align: left;

        font-family: var(--font-main);
        font-size: var(--font-size-text-mobile);
      }
    }
  }

  .hero-monthly {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    background: url(../../img/monthly-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* min-height: 100vh; */
    .hero-monthly__content {
      .hero-monthly__title {
        color: var(--font-color-monthly);
        text-transform: uppercase;
        font-family: var(--font-main);
        font-size: var(--font-size-title-mobile);
        max-width: 10ch;
        padding: 15px 0;
      }

      .hero-monthly__text {
        color: var(--font-color-monthly);
        font-family: var(--font-main);
        font-size: var(--font-size-subtitle-mobile);
        max-width: 10ch;
        padding-bottom: 15px;
      }

      .hero-monthly__prices {
        list-style: none;
        display: grid;
        padding: 0;
        margin: 0;
        width: 50px;
        gap: 5px;
        grid-template-columns: 1fr;
        align-items: center;

        .hero-monthly__price-item {
          align-items: center;
          justify-self: center;
        }

        .hero-monthly__price-old {
          color: var(--font-color-monthly);
          font-family: var(--font-main);
          font-size: var(--font-size-subtitle-mobile);
          font-size: 1.5rem;
          text-decoration: line-through;
        }

        .hero-monthly__price-new {
          color: var(--font-color-monthly);
          font-family: var(--font-main);
          font-size: 2rem;
          font-weight: 600;
        }

        .button-shop--monthly {
          background: var(--bg-color-monthly-button);
          color: var(--font-color-monthly-button);
          font-weight: var(--font-weight-button);
        }
      }

      .hero-monthly__time {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .hero-monthly__time-item:nth-child(3) {
          display: none;
        }

        .hero-monthly__time-item {
          width: 50px;
          height: 50px;
          padding: 2px;
          background-color: var(--box-color-monthly);
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1px;

          margin-top: 15px;
          margin-bottom: 15px;
          margin-right: 5px;

          .hero-monthly__time-delim,
          .hero-monthly__time-text {
            display: none;
          }

          .hero-monthly__time-number {
            color: var(--font-color-timer);
            font-family: var(--font-main);
            font-size: var(--font-size-timer);
            font-weight: 600;
          }

          .hero-monthly__time-text2 {
            color: var(--font-color-timer);
            font-family: var(--font-main);
            font-size: var(--font-size-subtitle-mobile);
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .hero-slider {
      justify-content: space-evenly;
      .hero-slider__body {
        position: relative;
        /* max-width: var(--container-width); */
        background-color: rgb(200, 205, 209);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;

        .hero-slider__title {
          font-size: 3rem;
        }

        .hero-slider__meta {
          .hero-slider__meta-index,
          .hero-slider__meta-label {
            font-size: var(--font-size-subtitle-tablet);
          }
        }
        .hero-slider__text-primary {
          font-size: var(--font-size-text-tablet);
          overflow-wrap: break-word;
          /* max-width: 5ch; */
        }
        .hero-slider__text-secondary {
          display: inline;
          overflow-wrap: break-word;
          font-size: var(--font-size-text-tablet);
          /* max-width: 5ch; */
        }
      }
    }

    .hero-monthly {
      justify-content: space-evenly;

      .hero-monthly__media {
        .hero-monthly__media-img {
          height: 100vh;
          max-width: 100%;
        }
      }

      .hero-monthly__content {
        .hero-monthly__title {
          font-size: var(--font-size-title-tablet);
        }

        .hero-monthly__text {
          font-size: var(--font-size-subtitle-tablet);
        }

        .hero-monthly__prices {
          grid-template-columns: repeat(3, 1fr);
          padding: 0;
          margin: 0;
          width: 300px;
          gap: 5px;
        }

        .hero-monthly__time {
          .hero-monthly__time-item:nth-child(3) {
            display: flex;
          }

          .hero-monthly__time-item {
            height: 75px;
            width: 75px;

            .hero-monthly__time-number {
              font-size: var(--font-size-timer-tablet);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    .hero-slider {
      .monthly-desktop {
        display: flex;
      }
    }

    .monthly-mobile {
      display: none;
    }
  }
}
